/*
CUSTOM CSS FILE

*/
body {
	font-size:21px;
	background-color:#FFF !important;
}
h3,h1{
	font-size:27px;
	font-weight:bold;
}

.standby .fa,.standby .fa.fa-small {
	color:#FFF !important;
}
.fa.fa-lightbulb-o.on {
    color:#f4dc41;

}
hr {
	border-color: #FFF;
	border-width: 2px;
	max-width: 100%;
	opacity:0.5;
	margin-top:20px;
	margin-bottom:20px;
}


.screen{
	
 color:#FFF !important;
  background-image:url('img/ica.png')!important;
  background-position:center;
	background-color:#FFF  !important;
}

#newsTicker li{
   color:#FFF !important;
  	min-height:72px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		font-size: 27px;
}
.transbg.col-xs-1, .transbg.col-xs-2, .transbg.col-xs-3, .transbg.col-xs-4, .transbg.col-xs-5, .transbg.col-xs-6, .transbg.col-xs-7, .transbg.col-xs-8, .transbg.col-xs-9, .transbg.col-xs-10, .transbg.col-xs-11, .transbg.col-xs-12 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 7px solid rgba(255,255,255,1);
    background: rgba(1,156,213,1) !important;
    background-clip: padding-box;
}
#newsTicker li{
	padding-bottom: 50px;
}
}
.transbg.col-xs-1,
.transbg.col-xs-2,
.transbg.col-xs-3,
.transbg.col-xs-4,
.transbg.col-xs-5,
.transbg.col-xs-6,
.transbg.col-xs-7,
.transbg.col-xs-8,
.transbg.col-xs-9,
.transbg.col-xs-10,
.transbg.col-xs-11,
 {
	padding-top:10px;
	padding-bottom:10px;
	border: 7px solid rgba(255,255,255,0);
	  background: rgba(45,45,45,0.2) !important;
    background-clip: padding-box;
  color:#FFF !important;
}
.col-xs-12.col-data{
 padding-left: 25%!important;
      background-color: #FFF;
}